<& /Elements/Header, Title => $title &>
<& /ServiceUpdate/Elements/Tabs, current_tab => "ServiceUpdate/Edit.html", Title => $title &>

<& /Elements/ListActions, actions => \@results &>

<form method="post" action="<%$editURL%>" >
<input type="hidden" name="id" value="<%$ticket_id%>" />
<h1><%$title%></h1>
<label id="Subject"><&|/l&>Subject</&>:</label>
<input name="Subject" value="<%$Ticket ?$Ticket->Subject : ''%>" size="40" />

<br />
<&|/l&>Details</&>:
<&/Elements/MessageBox, Name => 'Content', Height => 11 &>

<& /Elements/EditCustomFields,
          Object => $Ticket,
          CustomFields => $QueueObj->TicketCustomFields,
          ForCreation => 1,
&>

<br /> Dates should be in the form "YYYY-MM-DD" <br />
<& /ServiceUpdate/Elements/EditDates, TicketObj => $Ticket &>
<br />

<& /Elements/Submit&>
</form>

<%INIT>

my $Ticket = undef;
my $SUowner = RT::User->new($RT::SystemUser);
$SUowner->Load('serviceupdate');

my $time = RT::Date->new($session{CurrentUser});

my $Queue = 'Serviceupdates';
my $QueueObj = RT::Queue->new($session{CurrentUser});
$QueueObj->Load($Queue) || Abort(loc("Queue [_1] could not be loaded.", $Queue||''));

my $title;
my $msg;
my @results = ();

my $ticket_id = $ARGS{id};
my $ticket;

if( $ticket_id eq 'new') {
    $ARGS{Starts} = $ARGS{Starts} || $ARGS{Starts_Date} || 'now';
    $Ticket = RT::Ticket->new($session{CurrentUser});
    my ($Ticket,@results) = CreateTicket(
		%ARGS,
		MIMEObj => MIME::Entity->build(Data => $ARGS{Content}),
		Due => $ARGS{Due} ? $ARGS{Due} : $ARGS{Due_Date},
		Starts => $ARGS{Starts} ? $ARGS{Starts} : $ARGS{Starts_Date},
		Requestor => $SUowner->EmailAddress,
		Queue => 'ServiceUpdates',
		Status => 'new',
              );
    $ticket = $Ticket->id;

} elsif ($ticket_id ) {
    unless ( $ticket_id =~ /^\d+$/) {
        Abort(loc("The link you followed doesn't seem to be a service update"));
        $m->abort();
    }
    $Ticket = RT::Ticket->new($session{CurrentUser});
    $Ticket->Load($ticket_id);

    # change the subject if necessary
    if( defined $ARGS{Subject} && $ARGS{Subject} ne $Ticket->Subject ) {
        $msg = $Ticket->SetSubject( $ARGS{Subject} );
	push( @results, "Set Subject - ".$msg) if ( $msg );
    }

    $Ticket->Comment(Content => $ARGS{Content});
    push @results, ProcessTicketDates( TicketObj => $Ticket, ARGSRef => \%ARGS);
    push @results, ProcessObjectCustomFieldUpdates( Object => $Ticket, ARGSRef => \%ARGS );
    $ticket = $ticket_id;
}

if( $ticket_id && $ticket_id ne 'new' ) {
    my $newstatus = ($Ticket->DueObj->Unix > 0 && $Ticket->DueObj->Unix <= time())
        ?  'resolved' : ($Ticket->StartsObj->Unix >= time()) ? 'stalled': 'open';
    if ($Ticket->Status() !~ /^$newstatus$/) {
        my $msg = $Ticket->SetStatus($newstatus);
        push( @results, "Set Status - ".$msg) if ( $msg );
    }
}
if( $ticket && $ARGS{'Subject'} ) {
    $m->comp( '/ServiceUpdate/Show.html', id => $ticket,
		ARGSRef => \%ARGS, Results => \@results );
    $m->abort();
}

if ($ticket_id) {
    $title = loc("Modify service update");
    $Ticket = RT::Ticket->new($session{CurrentUser});
    $Ticket->Load($ticket_id);
} else {
    $title = loc("New service update");
    $ticket_id = 'new';
}
my $editURL = RT::Config->Get('WebPath')."/ServiceUpdate/Edit.html";

</%INIT>

%#<%ARGS>
%#id => undef
%#</%ARGS>
