<& /Elements/Header, Title => $title &>
<& /ServiceUpdate/Elements/Tabs, current_tab => "ServiceUpdates", Title => $title &>

<& /Elements/ListActions, actions => \@results &>

<&| /Widgets/TitleBox, title => loc('Service Update at a Glance'),
     class => 'ticket-info-basics',
     @doedit &>

    <& /Elements/ShowCustomFields, Object => $Ticket &>

    <table>
      <tr>
        <td class="label"><&|/l&>Subject</&>:</td>
        <td class="value"><% $Ticket->Subject%></td>
      </tr>
      <tr>
        <td class="label"><&|/l&>Created By</&>:</td>
        <td class="value"><% $creator->Name %></td>
      </tr>
      <tr>
        <td class="label"><&|/l&>Status</&>:</td>
        <td class="value"><% $Ticket->Status %></td>
      </tr>
      <tr>
        <td class="label"><&|/l&>Starts</&>:</td>
        <td class="value"><% $Ticket->StartsObj->AsString %></td>
      </tr>
      <tr>
        <td class="label"><&|/l&>Ends</&>:</td>
        <td class="value"><% $Ticket->DueObj->AsString  %></td>
      </tr>
    </table>

</&>

<& /ServiceUpdate/History.html, id => $ticket_id, TicketObj => $Ticket &>

<%INIT>
my $queue = RT::Queue->new($session{'CurrentUser'});
$queue->LoadByCols(Name => 'ServiceUpdates');
my $editable = $queue->CurrentUserHasRight('ModifyTicket');

my $ticket_id = $ARGS{id};

unless ($ticket_id =~ /^\d+$/) {
    Abort(loc("The link you followed doesn't seem to be an outage id"));
    $m->abort();
}
my $Ticket =RT::Ticket->new($session{'CurrentUser'});
$Ticket->Load($ticket_id);
my $history = $Ticket->Transactions();
my $title = $Ticket->Subject;

my $creator = RT::User->new($RT::SystemUser);
   $creator->Load($Ticket->Creator);

my $editURL = RT::Config->Get('WebPath')."/ServiceUpdate/Edit.html?id=".$Ticket->Id;
my (@doedit);
push @doedit, titleright_raw => '<a href="'.$editURL.'">'.loc("Edit").'</a>'
    if $editable;

</%INIT>
<%ARGS>
@results => undef;
</%ARGS>
