div.service-update .titlebox-title .left, div.service .titlebox {
  border: 1px solid #b99;
  border-bottom: 2px solid #990;
  border-right: 2px solid #990;
  color: #fff;
}

div.service-update .titlebox-title .left {
  background: #f99;

}

div.service-update .titlebox {
  background: #fcc;

}

div.service-update .titlebox-content {
  padding: 0;
}

div.serviceupdates {
  background-color: #ebb;
  color: #fff;
  text-align: left;
}
div.serviceupdates a {
  color: #666;
  text-align: left;
}

span.actions {
  text-align: right;
}

div.serviceupdate {
  padding: 1em;
}

div.serviceupdate-history {
}
span.serviceupdate-history-date {
  font-size: 0.6em;
  text-align: right;
  font-style: italic;
}
span.serviceupdate-history-entry {
  border-top: 1px solid black;
  margin-top: 3px;
  font-size: 0.8em;
  font-style: bold;
}
div.serviceupdate-history-content {
  background-color: #ccc;
  font-size: 1.1em;
}
