<& /Elements/Header, Title => $title &>
<& /ServiceUpdate/Elements/Search/Tabs, 
    current_tab => "ServiceUpdate/Search/Find.html?".$QueryString, 
    Title => $title,
    %query,
&>

<form method="post" action="Find.html" name="BuildQuery">
<input type="hidden" class="hidden" name="Query" value="<% $query{'Query'} %>" />

<div id="pick-criteria">
    <& /ServiceUpdate/Elements/PickCriteria, query => $query{'Query'}, cfqueues => $queues &>
</div>
<& /Elements/Submit,  Label => loc('Add these terms'), Name => 'AddClause'&>
<& /Elements/Submit, Label => loc('Add these terms and Search'), Name => 'DoSearch'&>


<div id="editquery">
<& /Search/Elements/EditQuery,
    %ARGS,
    actions => \@actions,
    optionlist => $optionlist,
    &>
</div>

</form>

<%INIT>
use RT::Interface::Web::QueryBuilder;
use RT::Interface::Web::QueryBuilder::Tree;

my $title = loc("Query Builder");

my %query;
for( qw(Query OrderBy Order RowsPerPage) ) {
    $query{$_} = $ARGS{$_};
}

my @actions = $m->comp( '/Search/Elements/EditSearches:Init', %ARGS, Query => \%query);

if ( $NewQuery ) {

    # Wipe all data-carrying variables clear if we want a new
    # search, or we're deleting an old one..
    %query = ();

    # ..then wipe the session out..
    delete $session{'CurrentSUHash'};

    # ..and the search results.
    $session{'tickets'}->CleanSlate if defined $session{'tickets'};
}

{ # Attempt to load what we can from the session and preferences, set defaults
    $query{'Format'} = $RT::DefaultServiceResultFormat;

    my $current = $session{'CurrentSUHash'};
    my $prefs = $session{'CurrentUser'}->UserObj->Preferences("SearchDisplay") || {};
    my $default = { Query => '', OrderBy => 'id', Order => 'ASC', RowsPerPage => 50 };

    for( qw(Query OrderBy Order RowsPerPage) ) {
        $query{$_} = $current->{$_} unless defined $query{$_};
        $query{$_} = $prefs->{$_} unless defined $query{$_};
        $query{$_} = $default->{$_} unless defined $query{$_};
    }

    for( qw(Order OrderBy) ) {
        if (ref $query{$_} eq "ARRAY") {
            $query{$_} = join( '|', @{ $query{$_} } );
        }
    }
}

my $ParseQuery = sub {
    my ($string, $results) = @_;

    my $tree = RT::Interface::Web::QueryBuilder::Tree->new('AND');
    @$results = $tree->ParseSQL( Query => $string, CurrentUser => $session{'CurrentUser'} );

    return $tree;
};

my $tree = $ParseQuery->( $query{'Query'}, \@actions );

# if parsing went poorly, send them to the edit page to fix it
if ( $actions[0] ) {
    return $m->comp( "Edit.html", Query => $query{'Query'}, actions => \@actions );
}

my @options = $tree->GetDisplayedNodes;
my @current_values = grep defined, @options[@clauses];
my @new_values = ();

# {{{ Try to find if we're adding a clause
foreach my $arg ( keys %ARGS ) {
    next unless $arg =~ m/^ValueOf(\w+|'CF.{.*?}')$/
                && ( ref $ARGS{$arg} eq "ARRAY"
                     ? grep $_ ne '', @{ $ARGS{$arg} }
                     : $ARGS{$arg} ne '' );

    # We're adding a $1 clause
    my $field = $1;

    my ($op, $value);

    #figure out if it's a grouping
    my $keyword = $ARGS{ $field . "Field" } || $field;

    my ( @ops, @values );
    if ( ref $ARGS{ 'ValueOf' . $field } eq "ARRAY" ) {
        # we have many keys/values to iterate over, because there is
        # more than one CF with the same name.
        @ops    = @{ $ARGS{ $field . 'Op' } };
        @values = @{ $ARGS{ 'ValueOf' . $field } };
    }
    else {
        @ops    = ( $ARGS{ $field . 'Op' } );
        @values = ( $ARGS{ 'ValueOf' . $field } );
    }
    $RT::Logger->error("Bad Parameters passed into Query Builder")
        unless @ops == @values;

    for ( my $i = 0; $i < @ops; $i++ ) {
        my ( $op, $value ) = ( $ops[$i], $values[$i] );
        next if !defined $value || $value eq '';

        if ( $value eq 'NULL' && $op =~ /=/ ) {
            if ( $op eq '=' ) {
                $op = "IS";
            }
            elsif ( $op eq '!=' ) {
                $op = "IS NOT";
            }

            # This isn't "right", but...
            # It has to be this way until #5182 is fixed
            $value = "'NULL'";
        }
        else {
            $value =~ s/'/\\'/g;
            $value = "'$value'" unless $value =~ /^\d+$/;
        }

        my $clause = {
            Key   => $keyword,
            Op    => $op,
            Value => $value
        };

        push @new_values, RT::Interface::Web::QueryBuilder::Tree->new($clause);
    }
}

# }}}

push @actions, $m->comp('/Search/Elements/EditQuery:Process',
    %ARGS,
    Tree     => $tree,
    Selected => \@current_values,
    New      => \@new_values,
);

# {{{ Rebuild $Query based on the additions / movements

my $optionlist_arrayref;
($query{'Query'}, $optionlist_arrayref) = $tree->GetQueryAndOptionList(\@current_values);

my $optionlist = join "\n", map { qq(<option value="$_->{INDEX}" $_->{SELECTED}>) 
                                  . ("&nbsp;" x (5 * $_->{DEPTH}))
                                  . $m->interp->apply_escapes($_->{TEXT}, 'h') . qq(</option>) } @$optionlist_arrayref;

# }}}

my $queues = {};
   $queues->{'ServiceUpdates'} = 1;

# }}}

# {{{ Push the updates into the session so we don't loose 'em

$session{'CurrentSUHash'} = {
    %query,
};

# }}}

# {{{ Show the results, if we were asked.

if ( $ARGS{'DoSearch'} ) {
    $m->comp( '/ServiceUpdate/Search/Results.html', %query );
    $m->comp( '/Elements/Footer' );
    $m->abort;
}

# }}}

# {{{ Build a querystring for the tabs

my $QueryString = '';
if ($NewQuery) {
    $QueryString = 'NewQuery=1';
}
elsif ( $query{'Query'} ) {
    $QueryString = $m->comp('/Elements/QueryString', %query );
}

# }}}

</%INIT>

<%ARGS>
$NewQuery => 0
@clauses => ()
</%ARGS>
